html {
	font-size: 100%; 
}

body {
	position: relative;
	min-height: 100vh;
	//min-width: $width;
	background: #ffffff;

	&.scroll_body {
		padding-top: 70px;
	}
}

body * {
	font-family: $font-family;
	color: $cor-txt;
	line-height: $font-size+.25;
	font-weight: $light;
	font-size: $font-size; 
}

.container {
	max-width: $width; 
	width: 100%;//$width; 
	//width: 100%;
	padding: 0 $padding-container;
	margin: 0 auto;
	position: relative;
	@include box-sizing;
	@include clear;
}

.row {
	display: block;
	@include clear();

	&:not(.no-padding){
		margin-right: ($padding-col)*(-1);
		margin-left: ($padding-col)*(-1);

		[class*="col-"] {
			padding-right: $padding-col; 
			padding-left: $padding-col;

			&.no-padding {
				padding: 0;
			}
		}
	}

	&.no-padding {
		margin: 0;
	}

	[class*="col-"] {
		float: left;
		@include box-sizing();

		img {
			max-width: 100%;
		}
	}

	@for $i from 1 through 12 {
		.col-#{$i} {
			width: $i*(100%/12);
		}
	}

	@for $i from 1 through 12 {
		.col-m-#{$i} {
			margin-left: $i*(100%/12);
		}
	}

	.col-4:nth-child(3n+1) {
		@include clear;
	}

	&.row-mini {
		margin-right: -15px;
		margin-left: -15px;

		[class*="col-"] {
			padding-right: 15px; 
			padding-left: 15px;
		}
	}
}

.box-content {
	@include clear;
	@include box-sizing();
	width: 100%;
	position: relative;
	padding: 50px 0;

	&.box-slide {
		width: 100%;
		height: $hSlide;
		position: fixed;
		top: 0;
		left: 0;
		padding: 0;
	}

	.content {
		width: 100%;
		//max-width: 540px;
		display: block;
		margin: 0 auto;

		&.content-page {
			width: 85%;
		}

		.item-conteudo {
			width: 100%;
			float: left;
			margin-top: 60px;
			@include box-sizing;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0px;
			}

			a {
				font-weight: $regular;
				&:hover {
					color: #000000;
				}
			}

			h2 {
				line-height: 2.225rem;
				height: auto;
				width: 100%;
				margin-right: 0;
				margin-left: 0;
				margin-top: 0;
			}

			&.cont-list {
				margin-top: 0;

				.listagem_conteudo {
					li {
						margin-top: 30px;
						padding: 0 15px;

						i {
							float: left;
							font-size: 4rem;
							color: $cor-txt-bold;
						}

						h3, p, a {
							display: block;
							padding-left: 75px;
						}

						h3 {
							text-align: left;
							padding-top: 5px;
						}

						p {
							margin: 0;
						}

						a {
							margin-top: 5px;
						}
					}

					@media all and (min-width: 780px){
						margin-left: -15px;
						margin-right: -15px;

						li {
							margin-bottom: 20px;
							width: 33.333%;
							float: left;
							@include box-sizing;

							i {
								display: none;
							}

							img {
								width: 100%;
								@include grayscale(100);
								@include animacao_slow;

								&:hover {
									@include grayscale(0);
								}
							}

							h3 {
								text-transform: none;
								font-weight: $regular;
								font-size: 1.225rem;
							}

							h3, p, a {
								padding-left: 0;
							}

							a {
								display: inline-block;
								margin-top: 10px;
							}
						}
					}
				}
			}

			&.cont-imagem {
				padding: 0;
				width: 100%;

				.cont-txt-img {
					width: 100%;
				}
				
				img {
					margin-top: 20px;
				}

				img, p {
					float: left;
					width: 50%;
					@include box-sizing;
				}
			}

			&.left {
				padding-right: 20%;
				p, h2 {
					text-align: left;
				}

				&.cont-imagem {
					padding: 0;

					img {
						padding-right: 20px;
					}

					p {
						padding-left: 20px;
					}
				}
			}

			&.right {
				padding-left: 20%;

				p {
					text-align: left;
				}

				h2 {
					text-align: right;
				}

				&.cont-imagem {
					padding: 0;

					img {
						float: right;
						padding-left: 20px;
					}

					p {
						float: right;
						padding-right: 20px;
					}
				}
			}

			&.center {
				p, h2 {
					text-align: center;
					max-width: 80%;
				}

				h2 {
					width: 100%;	
					max-width: 100%;			
				}

				&.cont-imagem {
					img, p {
						width: 100%;
						max-width: 100%;
						float: none;
						padding: 0px;
						margin-right: auto;
						margin-left: auto;
					}
				}
			}
		}

		.list-tecnico {
			margin-top: 30px;	
		}

		&.form {
			max-width: 810px;
		}

		&.sobre {
			max-width: 590px;
		}

		.row {
			margin-right: -10px;
			margin-left: -10px;

			[class*="col-"] {
				padding-right: 10px; 
				padding-left: 10px;
			}
		}

		ul {
			margin-top: 15px;
			li {
			}
		}

		.destaque {
			width: 100%;
			display: table;
			margin-top: 45px;

			span {
				font-weight: $regular;
				text-align: justify;
				font-style: italic;
				color: $cor6;
				display: table-cell;
				vertical-align: middle;
				font-size: 1.25rem;
				line-height: 1.5rem;
				padding: 0px 10px;
			}

			&:after, &:before {
				content: '';
				display: table-cell;
				vertical-align: middle;				
				width: 32px;
				height: 128px;
				background: url('../images/text-destaque.jpg') no-repeat top center;
			}

			&:after {
				@include rotacao(180);
			}
		}
	}
}

.vertical-center {
	display: table;
	height: 100%;
	width: 100%;

	.content-vertical {
		display: table-cell;
		vertical-align: middle;
	}
}