.padding-footer {
	padding-bottom: 100px;
}

.footer {
	width: 100%;
	padding: 100px 60px 30px;
	z-index: 0;
	position: relative;
	@include box-sizing;
	@include clear;

	.redes-sociais {
		float: right;
		margin: 0 auto;

		span {
			display: block;
			font-weight: $bold;
			font-size: .75rem;
			line-height: 1rem;
			margin-bottom: 25px;

			span {
				margin-bottom: 0;
				display: inline;
			}
		}

		a {
			display: inline-block;
			margin: 0 10px;
			i {
				color: $cor-txt;
			}

			&:hover {
				i {
					color: #000000;
				}
			}
		}
	}

	.copy {
		float: left;
		font-size: .625‬rem;
		padding: 0;
		margin: 0;
		color: $cor-txt;
		@include clear;

		strong {
			font-size: .8125rem;
			color: #000000;
		}
	}
}

#gotop {
	color: $cor1;
	font-size: 1.875rem;
	position: fixed;
	bottom: 95px;
	right: 95px;
	cursor: pointer;
	@include animacao;

	&:hover {
		color: #000000;
	}
}


.home {
	.footer {
		position: fixed;
		bottom: 0;

		.copy {
			color: #ffffff;
		}

		.redes-sociais {
			a {
				i {
					color: #ffffff;
				}
			}
		}
	}

	#gotop {
		display: none;
	}
}