.header {
	padding: 0 30px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
	background-color: #ffffff;
	@include animacao;
	@include box-sizing;

	h1 {
		float: left;
	}

	&.scroll_menu {
		position: fixed;
		top: 0;
		left: 0;
		

		&:before, &:after {
			height: 50px;
		}

		&:not(.ativo){
			h1 {
				//width: 90px;
				height: auto;
				//top: -20px;
				//left: -15px;
				//padding: 37px 5px !important;
			}
		}

		&:after {
			display: none;
		}
	}
}

.breadcrumbs {
	display: block;
	margin: 20px auto 20px;

	ul {

		li {
			display: inline;
			font-size: .8rem;
			line-height: 1rem;
			font-weight: $regular;
			color: #9b9b9b;

			&:after {
				content: "/";
				font-size: .8rem;
				line-height: 1rem;
				font-weight: $regular;
				display: inline;
				padding: 0 1px 0 5px;
				color: #9b9b9b;
			}

			&:last-child {
				&:after {
					display: none;
				}
			}
		}

		a {
			display: inline;
			font-size: .8rem;
			line-height: 1rem;
			font-weight: $bold;
			color: #9b9b9b;

			&:hover {
				color: $cor1;
			}
		}
	}
}