@media all and (max-width: 1080px){
	.header {
		background: #ffffff;
	}

	.home {
		.header {
			background: transparent;
		}

		h1 {
			width: 170px;
		}

		.nav {
			&.nav-principal {
				padding: 0;

				li {
					a {
						color: $cor-txt;
						text-shadow: none;
					}
				}
			}
		}
	}

	.nav {
		&.nav-principal {
			left: 0;
			top: -100vh;
			height: 100vh;
			width: 100%;
			padding: 0;
			position: fixed;
			background-color: #ffffff;
			display: table;

			ul {
				width: 100%;
				display: table-cell;
				vertical-align: middle;
				text-align: center;

				li {
					display: inline-block;
					width: 100%;
					padding: 15px 0;
				
					a {
						color: $cor-txt;
						text-shadow: none;

						&:hover {
							color: $cor-txt-bold;
						}
					}
				}
			}
		}

		&.nav-categoria {
			li {
				padding: 5px 10px;
			}
		}
	}

	.menu-mobile {
		display: block;

		i {
			&.fa-bars {
				display: block;
			}
		}
	}

	.grid:not(.news) {
		max-width: 480px;
		margin: 0 auto;

		.grid-item {
			width: 100%;
			margin: 0;
		}
	}

	.blog {
		.grid {
			.grid-item {
				margin-bottom: 20px;
			}
		}
	}

	.nav {
		&.nav-categoria {
			padding: 0 20px;
		}
	}

	.footer {
		padding-right: 0;
		padding-left: 0;
		padding-bottom: 40px;

		.redes-sociais {
			width: 100%;
			text-align: center;
			margin-bottom: 10px;
		}

		.copy {
			width: 100%;
			top: 0;
			text-align: center;
			line-height: 1.225rem;
		}

		#gotop {
			right: 20px;
		}
	}

	.det-projetos, .det-news {
		.row {
			margin: 0;

			[class*="col-m-"] {
				margin: 0;
			}

			[class*="col-"] {
				padding: 0;
				width: 100%;
			}
		}
	}

	.box-content {
		.container {
			padding: 0;
		}

		&.first-box {
			padding-top: 0;
		}

		.content {
			&.content-page {
				width: 100%;

				p {
					padding: 0 20px;
				}
			}

			.item-conteudo {
				&.cont-list {
					.listagem_conteudo {
						li {
							padding: 0 22px;

							i {
								font-size: 3rem;
							}
						}
					}
				}
			}
		}
	}

	.list-tecnico {
		padding: 0 20px;
		@include box-sizing;
	}

	h2 {
		margin: 10px 0;
		font-size: 1.5rem;
	}

	p {
		font-size: 1rem;
		line-height: 1rem+.75;
	}

	.list-tecnico li {
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 300;
		margin-bottom: 10px;
	}




	.row:not(.no-padding){
		margin: 0;

		[class*="col-"] {
			margin: 0;
			padding: 0;
			width: 100%;
		}
	}

	.col-m-4.col-4 {
		float: none;
		max-width: 400px;
	}

	.content {
		padding: 0 0px;
		
		&.content-page {
			@include box-sizing;

			.item-conteudo:not(.img-single) {
				padding: 0 20px!important;

				p {
					padding: 0;
				}
			}
		}
	}

	form {
		padding: 0 20px;
	}
}


@media all and (max-width: 1200px){

}

@media all and (max-width: 980px){



}



@media all and (max-width: 779px){

	.listagem_conteudo {
		padding: 20px;
		li {
			h3 {
			}
			img {
				display: none;
			}
		}
	}

	.grid {
		&.news {
			width: 100%;
			max-width: 480px;
			margin: 0 auto;

			.grid-item {
				width: 100%;
				padding: 0;
				margin: 0px;
			}
		}
	}

}



@media all and (max-width: 680px){

	.nav {
		&.nav-categoria {
			display: none;
		}
	}

}



@media all and (max-width: 480px){

}


@media all and (max-width: 450px){

	.container {
		padding: 0 20px;
	}

	.header {
		padding: 0;
	}

	.home {
		h1 {
			//width: 150px;
			//padding-top: 70px;
			//padding-bottom: 70px;
			
			a {

			}
		}

		.menu-mobile {
			top: 63px;
		}
	}

	.menu-mobile {
		top: 24px;
	}

	.home {
		.header.ativo {
			h1 {
				top: -18px;
				padding-bottom: 0;
			}

			.menu-mobile {

			}
		}
	}


	.box-content {
		.content {
			.item-conteudo {
				&.cont-list {
					.listagem_conteudo {
						li {
							padding: 0;

							h3, p, a {
								padding-left: 60px;
							}

							i {
								font-size: 2.5rem;
							}

							h3 {
								padding-top: 7px;
								font-size: 1.25rem;
								line-height: 1.5rem;
							}
						}
					}
				}
			}
		}
	}

}


@media all and (max-width: 350px){
	h1 {
		width: 150px;
	}


	.menu-mobile {
		//top: 44px;
		//right: 20px;

		i {
			//font-size: 3rem;
		}
	}
}